- content_for :title do
  Activities

<!-- middle -->
%div{:class => "middle box-white"}

.middle
  <!-- content -->
  .wrapper
    .content
      <!-- page text -->
      %div{:class => "text box-white"}
        = render @activities

