- image_title = "tmp_screen_#{image_counter + 1}"
%li
  %a{:href => "images/screens/#{image_title.jpg}", :rel => "prettyPhoto[gallery1]", :title => "You can add caption to pictures. You can add caption to pictures. You can add caption to pictures."}
    = image_tag "screens/#{image_title}_thumb.jpg", :alt="Red round shape", :size => "62x62"

